@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url(assets/fonts/Roboto-LightItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(assets/fonts/Roboto-Thin.ttf);
}

* {
    font-family: 'Roboto';
    /*color: #f9faf8;*/
}

body {
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding-inline: 288px;
    font-size: 32px;
}

nav > .home {
    font-family: 'Roboto-Bold';
    font-weight: 900;
}

nav > .refs {
    color: #f9faf8;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.refs {
    display: flex;
    flex-direction: row;
    text-decoration: solid;
}

.main {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1f2937;
    padding-inline: 288px;
    padding-block: 90px;
}

#heroMain {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Roboto-Bold';
}

.leftPart {
    margin: auto 0;
    flex-direction: column;
    align-items: left;
}

.leftPart > button {
    font-family: 'Roboto-Bold';
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 10px;
    padding-inline: 15px;
    font-size: 16px;
}

.leftPart > p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

.leftPart > h1 {
    margin: 0;
}

.image {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    margin-inline: 120px;
    flex-direction: column;
    align-items: center;
    padding-inline: 288px;
    padding-bottom: 100px;
}

#someR {
    font-family: 'Roboto-Bold';
    font-size: 32px;
    font-weight: 900;
}

.cube {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #1f2937;
    font-family: 'Roboto-Thin';
    font-size: 18px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.squares {
    display: flex;
    border: solid 4px;
    border-radius: 10px;
    border-color: #3882f6;
    padding: 80px;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    appearance: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button#quoteButton {
    background-color: #3882f6;
    color: #f9faf8;
    appearance: none;
    font-size: 18px;
    border-radius: 5px;
    border: solid 2px;
    border-color: #f9faf8;
    cursor: pointer;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    box-sizing: border-box;
    padding-inline: 550px;
    padding-block: 90px;
}

p#phrase {
    font-family: 'Roboto-Light-Italic';
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

p#author {
    text-align: right;
    font-size: 24px;
    font-weight: bold; 
    color: #1f2937;
}

.contact {
    display: flex;
    background-color: white;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding-inline: 288px;
    padding-block: 120px;
}

footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.blueBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-inline: 250px;
    padding-block: 50px;
    border-radius: 5px;
    background-color: #3882f6;
}

.callAction > p {
    margin: auto 0;
}

#call {
    font-family: 'Roboto-Bold';
    font-size: 24px;
}

#callButton {
    color: #f9faf8;
}

#quoteButton {
    padding: 10px;
    padding-inline: 20px;
    font-weight: bold;
}

footer {
    padding: 20px;
}